<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hongik.pcrc.allinone.cafe_map.infrastructure.persistance.mysql.repository.CafeMapMapperRepository">

    <!-- cafe_map_cafe -->
    <select id="isExistedCafe" resultType="boolean">
        select exists (select * from cafe_map_cafe where cafe_id = #{cafe_id}) as success
    </select>

    <select id="getListByCafeName" resultType="map">
        select c.cafe_id, cafe_name, cafe_branch, road_addr, floor_info, latitude, longitude, ifnull(cast((sum(star_rating) / count(star_rating)) as double),0.0) as total_rating,
        경치좋은, 공부맛집, 데이트코스, 드라이브, 디저트맛집, 소개팅, 인스타감성, 조용한, 커피맛집, 큰규모, 테마있는, 테이크아웃
        from cafe_map_cafe as c left join cafe_map_category as ct on c.cafe_id = ct.cafe_id left join cafe_map_review r on c.cafe_id = r.cafe_id
        where c.cafe_name like CONCAT('%', #{cafe_name}, '%')
        group by cafe_id
<!--        select distinct * from cafe_map_cafe as c left join cafe_map_category as ct on c.cafe_id = ct.cafe_id-->
<!--        where c.cafe_name like CONCAT('%', #{cafe_name}, '%')-->
    </select>

    <select id="getListByRegion" resultType="map">
        select distinct c.cafe_id, cafe_name, cafe_branch, road_addr, floor_info, latitude, longitude, ifnull(cast((sum(star_rating) / count(star_rating)) as double),0.0) as total_rating,
        경치좋은, 공부맛집, 데이트코스, 드라이브, 디저트맛집, 소개팅, 인스타감성, 조용한, 커피맛집, 큰규모, 테마있는, 테이크아웃
        from cafe_map_cafe as c left join cafe_map_category as ct on c.cafe_id = ct.cafe_id left join cafe_map_review r on c.cafe_id = r.cafe_id
        where c.province = #{province} and c.city = #{city}
        group by cafe_id
<!--        select distinct * from cafe_map_cafe as c left join cafe_map_category as ct on c.cafe_id = ct.cafe_id-->
<!--        where c.province = #{province} and c.city = #{city}-->
    </select>

    <select id="getListByCategory" resultType="map">
        select distinct c.cafe_id, cafe_name, cafe_branch, road_addr, floor_info, latitude, longitude, ifnull(cast((sum(star_rating) / count(star_rating)) as double),0.0) as total_rating,
        경치좋은, 공부맛집, 데이트코스, 드라이브, 디저트맛집, 소개팅, 인스타감성, 조용한, 커피맛집, 큰규모, 테마있는, 테이크아웃
        from cafe_map_cafe as c left join cafe_map_category as ct on c.cafe_id = ct.cafe_id left join cafe_map_review r on c.cafe_id = r.cafe_id
        group by cafe_id
<!--        select distinct * from cafe_map_cafe as c left join cafe_map_category as ct on c.cafe_id = ct.cafe_id-->
    </select>

    <select id="getListByCafeNameAndRegion" resultType="map">
        select distinct c.cafe_id, c.cafe_name, c.cafe_branch, c.road_addr, c.floor_info, c.latitude, c.longitude, ifnull(cast((sum(star_rating) / count(star_rating)) as double),0.0) as total_rating,
        경치좋은, 공부맛집, 데이트코스, 드라이브, 디저트맛집, 소개팅, 인스타감성, 조용한, 커피맛집, 큰규모, 테마있는, 테이크아웃
        from cafe_map_cafe as c left join cafe_map_category as ct on c.cafe_id = ct.cafe_id left join cafe_map_review rv on c.cafe_id = rv.cafe_id, cafe_map_region r
        where c.cafe_name like CONCAT('%', #{cafe_name}, '%') and (r.province = #{province} and r.city = #{city} and r.province = c.province and r.city = c.city)
        group by cafe_id
<!--        select distinct c.cafe_id, c.cafe_name, c.cafe_branch, c.road_addr, c.floor_info, c.latitude, c.longitude, 경치좋은, 공부맛집, 데이트코스, 드라이브, 디저트맛집, 소개팅, 인스타감성, 조용한, 커피맛집, 큰규모, 테마있는, 테이크아웃-->
<!--        from cafe_map_cafe as c left join cafe_map_category as ct on c.cafe_id = ct.cafe_id, cafe_map_region r-->
<!--        where c.cafe_name like CONCAT('%', #{cafe_name}, '%') and (r.province = #{province} and r.city = #{city} and r.province = c.province and r.city = c.city)-->
    </select>

    <!-- cafe_map_region -->
    <select id="getRegionInfo" resultType="map">
        select * from cafe_map_region
    </select>

    <!-- cafe_map_category -->
    <select id="getCategoryInfo" resultType="map">
        select 경치좋은, 공부맛집, 데이트코스, 드라이브, 디저트맛집, 소개팅, 인스타감성, 조용한, 커피맛집, 큰규모, 테마있는, 테이크아웃
        from cafe_map_category
    </select>

    <update id="changeCategoryNum" parameterType="hashmap">
        update cafe_map_category
        set 경치좋은 = #{경치좋은}, 공부맛집 = #{공부맛집}, 데이트코스 = #{데이트코스}, 드라이브 = #{드라이브}, 디저트맛집 = #{디저트맛집}, 소개팅 = #{소개팅},
        인스타감성 = #{인스타감성}, 조용한 = #{조용한}, 커피맛집 = #{커피맛집}, 큰규모 = #{큰규모}, 테마있는 = #{테마있는}, 테이크아웃 = #{테이크아웃}
        where cafe_id = #{cafe_id}
    </update>

    <select id="getACafeInfo" resultType="hashmap">
        select distinct c.cafe_name, c.cafe_branch, c.road_addr, c.floor_info, ifnull(cast((sum(star_rating) / count(star_rating)) as double),0.0) as total_rating,
        경치좋은, 공부맛집, 데이트코스, 드라이브, 디저트맛집, 소개팅, 인스타감성, 조용한, 커피맛집, 큰규모, 테마있는, 테이크아웃
        from cafe_map_cafe as c left join cafe_map_category as ct on c.cafe_id = ct.cafe_id left join cafe_map_review r on c.cafe_id = r.cafe_id
        where c.cafe_id = #{cafe_id}
        group by c.cafe_id
<!--        select distinct * from cafe_map_cafe as c left join cafe_map_category as ct on c.cafe_id = ct.cafe_id-->
<!--        where c.cafe_id = #{cafe_id}-->
    </select>

</mapper>