<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hongik.pcrc.allinone.cafe_map.infrastructure.persistance.mysql.repository.CafeMapMapperRepository">

    <!-- cafe_map_cafe -->
    <select id="getCafeList" resultType="map">
        select * from cafe_map_cafe;
    </select>

    <!-- cafe_map_station -->
    <select id="getStationList" resultType="map">
        select * from cafe_map_station;
    </select>

    <select id="isExistedCafe" resultType="boolean">
        select exists (select * from cafe_map_cafe where cafe_id = #{cafe_id}) as success
    </select>

    <select id="getListByCafeName" resultType="map">
        select * from cafe_map_cafe where cafe_name like CONCAT('%', #{cafe_name}, '%')
    </select>

</mapper>