<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hongik.pcrc.allinone.chat.infrastructure.persistance.mysql.repository.ChatMapperRepository">
    <!--channel table-->
    <select id="isExistedTitle" resultType="boolean">
        select exists (select * from channel where ch_title = #{ch_title}) as success
    </select>

    <select id="notExistedChannel" resultType="boolean">
        select not exists (select * from channel where channel_id = #{channel_id}) as success
    </select>

    <select id="getChannelList" resultType="map">
        select * from channel
        <foreach collection="list" index="index" item="item">
            <if test="index == 0">
                where ch_title like CONCAT('%',#{item},'%')
            </if>
            <if test="index != 0">
                or ch_title like CONCAT('%',#{item},'%')
            </if>
        </foreach>
    </select>

    <select id="findChannelInfo" resultType="ChannelEntity">
        select * from channel where channel_id = #{channel_id}
    </select>

    <select id="getChannelIdByTitle" resultType="int">
        select channel_id from channel where ch_title = #{ch_title}
    </select>

    <insert id="createChannel" parameterType="ChannelEntity">
        insert into channel(ch_title, created_date, number_of_users) value(#{ch_title},#{created_date},1)
    </insert>

    <update id="increaseChannelNumberOfUsers">
        update channel set number_of_users = number_of_users + 1 where channel_id = #{channel_id}
    </update>

    <update id="decreaseChannelNumberOfUsers">
        update channel set number_of_users = number_of_users - 1 where channel_id = #{channel_id}
    </update>

    <delete id="deleteChannel">
        delete from channel where channel_id = #{channel_id}
    </delete>

    <!--chat table-->
    <select id="getRecordsInChannel" resultType="map">
        select * from chat where channel_id = #{channel_id}
    </select>

    <select id="findContentInChannel" resultType="map">
        select * from chat where channel_id = #{channel_id} and content like CONCAT('%',#{content},'%')
    </select>

    <insert id="createRecord" parameterType="ChatEntity">
        insert into chat(channel_id, content, timestamp, type, user_email, user_name)
        value(#{channel_id}, #{content}, #{timestamp}, #{type}, #{user_email}, #{user_name})
    </insert>

    <delete id="deleteAllRecordsInChannel">
        delete from chat where channel_id = #{channel_id}
    </delete>

    <update id="changeUserRecordsNon">
        update chat set user_email = "null", user_name = "알 수 없음" where user_email = #{user_email}
    </update>

    <!--channel_users table-->
    <select id="isExistedUser" resultType="boolean">
        select exists (select * from channel_users as c
        where c.channel_id = #{channel_id} and c.user_email = #{user_email}) as success
    </select>

    <select id="getChannelsOfUser" resultType="map">
        select * from channel_users where user_email = #{user_email}
    </select>

    <select id="getUsersInChannel" resultType="map">
        select * from channel_users where channel_id = #{channel_id}
    </select>

    <insert id="addUserAboutChannel" parameterType="ChannelUsersEntity">
        insert into channel_users(channel_id, user_email, user_name)
        value(#{channel_id}, #{user_email}, #{user_name})
    </insert>

    <delete id="leaveTheChannel">
        delete from channel_users where channel_id = #{channel_id} and user_email = #{user_email}
    </delete>

    <!--mix-->
    <select id="getMyChannelList" resultType="map">
        select c.channel_id, c.ch_title, c.created_date, c.number_of_users
        from (select channel_id from channel_users where user_email = #{user_email}) as t, channel as c
        where c.channel_id = t.channel_id;
    </select>

    <!--clear-->
    <delete id="deleteAllInChannelNum">
        delete from chat where channel_id = #{channel_id} and chat_id = #{chat_id}
    </delete>

</mapper>